#index
  display: flex
  align-items: center
  flex-direction: column
  justify-content: center

  height: 70vh

  .elements__index
    text-align: center

    .el__mini__description
      display: inline-block
      color: #1a26d0
      background: rgba(29, 26, 233, 0.3)
      border-radius: 12px
      font-size: 12px
      padding: 3px 15px

    .title__index
      font-size: 3.5vw
      margin: 2rem auto 1.5rem
      // line-height: 3.4rem
      max-width: 60vw

      span
        color: #1a26d0

    .description__index
      margin: 0 auto
      font-size: 15px
      max-width: 40vw
      color: #454545
      font-weight: 400
      margin-bottom: 25px

    .signin__btn__index
      background-color: #efeded
      margin-right: 15px
      padding: 8px 13px
      font-size: 12px
      border-radius: 3px
      color: #000
      transition: .3s
    .signin__btn__index:hover
      background: #dddddd
      box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2)
      transition: .2s
    .signup__btn__index
      background-color: #3b1ad0
      color: #fff
      padding: 8px 13px
      font-size: 12px
      border-radius: 3px
      transition: .3s
    .signup__btn__index:hover
      background: #5b37fa
      box-shadow: 0 0 40px 0 rgba(18, 59, 241, 0.4)
      transition: .2s

#img__index__info
  display: flex
  margin-top: 5vh

  .elements__index__info__img
    margin: 0 auto

    .fire__specials__left
      position: absolute
      z-index: -99
      margin-top: -2vw
      left: 19rem
      height: 100vh
      width: 50vw

      background: rgba(0, 255, 229, 0.6)
      border-radius: 50%
      filter: blur(70px)
    .fire__specials__right
      position: absolute
      z-index: -99
      margin-top: -2vw
      right: 19rem
      height: 100vh
      width: 30vw

      background: rgba(0, 17, 255, 0.6)
      border-radius: 50%
      filter: blur(70px)
    img
      width: 70vw
      border-radius: 10px
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15)

#info__logify
  display: flex
  align-items: center
  flex-direction: column
  justify-content: center

  .elements__info__logify
    text-align: center

    .title__ingo__logify
      font-weight: 700
      font-size: 30px

      margin: 7rem auto 1.5rem
      max-width: 40vw
    .description__info__logify
      margin: 0 auto
      font-size: 14px
      max-width: 40vw
      color: #454545
      font-weight: 400
      margin-bottom: 25px
    .bntClick__info__logify
      background-color: #3b1ad0
      color: #fff
      padding: 12px 13px
      font-size: 13px
      border-radius: 10px
      transition: .3s
    .bntClick__info__logify:hover
      background: #5b37fa
      box-shadow: 0 0 40px 0 rgba(18, 59, 241, 0.4)
      transition: .2s

#logidy__specials
  display: flex
  justify-content: center
  margin-top: 5rem
  .elements__special
    border: 1px solid #e6e6e6
    padding: 10px
    width: 79vw

    .blocks__top__special
      margin-bottom: 2rem
    .blocks__bottom__special
      margin-top: 2rem

    .line__bt
      width: 100%
      height: 1px
      background: #e6e6e6

    .blocks__top__special,
    .blocks__bottom__special
      display: flex
      align-items: center
      justify-content: space-around

      .line-block
        height: 100px
        width: 1px
        background: #e6e6e6

      .block__one,
      .block__two,
      .block__three
        .title__block__special
          display: flex
          align-items: center
          font-weight: 600
          font-size: 13px

          .icon__block
            width: 20px

          p
            margin-left: 7px
        .description__block__special
          font-size: 12px
          margin-top: 10px
          max-width: 20vw
          line-height: 1.5rem
          color: #2a2a2a

@import '../adaptive/_mobile'
