@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 1);
  background-color: hsl(250, 24%, 9%);
}

p {
  margin: 0;
}

a {
  font-weight: 400;
  color: #1b26f3;
  text-decoration: none;
}
a:hover {
  color: #2f38e6;
}

button {
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 3px;
  color: #000;
  font-size: 11px;
  padding: 8px 13px;
  cursor: pointer;
}

pre, code {
  color: #dfdfdf;
}

input, textarea {
  font-family: "Inter", sans-serif;
  font-size: 11px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
